.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.select2-container--open {
    z-index: 9999;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

/* My custom CSS */
.header-area .student_area .login.student span {
    font-size: 14px;
}

.alert_error {
	background: #ffdddd;
	border: #da3333 solid 1px;
}

/* label {
	color: #fff;
	margin-bottom: 20px;
} */

.popup_box input.error {
	margin-bottom: 5px;
}

@media (max-width: 760px) {
	.mfp-container:before {
		height: 30%;
	}
}

.passtrengthMeter::after {
	margin-bottom: 20px;
}

.passtrengthMeter .showPassword {
	top: calc(50% - 20px);
}

.passtrengthMeter .showPassword {
	top: calc(50% - 20px);
}

.header-area .main-header-area .login {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
}

.boxed_btn.danger {
    background: #f44a40;
}

.boxed_btn.danger:hover {
    background: transparent;
    color: #f44a40;
    border: 1px solid #f44a40;
    color: #f44a40 !important;
}

a.boxed_btn {
    font-family: "Poppins", sans-serif;
}

.courses_details_info.test #accordion .card h5 {
    font-size: 22px;
    font-weight: 400;
    color: #1F1F1F;
}

.courses_details_info.test #accordion .card h5 span {
    color: #00D363;
    margin-right: 15px;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    border: solid 2px;
    text-align: center;
}

.courses_details_info .single_courses p.second_title {
	margin-bottom: 30px;
}

.courses_details_info.test #accordion .card .card-body {
    padding: 0 0 40px 60px;
}

.option-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 300;
    color: #888888;
    font-family: "Crimson Text", serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.option-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 23px;
	background-color: #dadada;
	border-radius: 50%;
}

.option-container:hover input ~ .checkmark {
	background-color: #4cd3e3;
}

.option-container input:checked ~ .checkmark {
	background-color: #4cd3e3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.option-container input:checked ~ .checkmark:after {
	display: block;
}

.option-container .checkmark:after {
	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.lesson-text-area {
	margin-bottom: 30px;
}

.test-area {
	background: #fff;
}

.test-area .border-top-generic {
    padding: 50px 15px;
    border-top: 1px solid #eee;
}

.test-area .boxed-btn.done {
	cursor: auto;
}

.test-area .boxed-btn.done:hover {
    background: #fff;
    color: #04D2C8 !important;
    border: 1px solid #04D2C8;
}

.test-area a.boxed-btn:hover {
    background: #04D2C8;
    color: #fff !important;
    border: 1px solid #04D2C8;
    -webkit-text-fill-color: white;
}

.test-area a.boxed-btn {
	color: #04D2C8!important;
}

.comment-list .reply-btn {
    position: absolute;
    right: 0;
}

.comment-list.is_reply {
    margin-left: 50px;
}

.avatar-box {
	padding: 0 10px;
}

img.is-avatar {
	width: 100%;
	margin-bottom: 20px;
}

.auhor_header .thumb img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.single-post-area .author-image img {
	width: 90px;
	height: 90px;
	object-fit: cover;
	margin-right: 30px;
}

@media (max-width: 600px) {
	.single-post-area .author-image img {
		width: 70px;
		height: 70px;
		object-fit: cover;
		margin-right: 15px;
	}

	.comments-area {
		font-size: 15px;
	}

	.comments-area h5 {
		font-size: 15px;
		line-height: 15px;
	}

	li.media .avatar {
		width: 45px!important;
	}

	div.media.reply .avatar {
		width: 35px!important;
	}

	.avatar.mr-3 {
		margin-right: 10px!important;
	}

	.mb-1 {
		margin-bottom: 0!important;
	}

	.btn-sm {
		padding: 0rem .5rem;
	}

	.lebar-100 {
		width: 100%!important;
	}

	.comment-form .form-control {
		font-size: 14px;
	}
}

.comments-area hr {
	margin: 0;
}

button.btn.btn-sm.btn-link.comment-btn {
    color: #666666 !important;
}

button.btn.btn-sm.btn-link.comment-btn:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(131deg, #8A47E5 0%, #8A47E5 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

li.media .avatar {
	width: 60px;
}

.avatar img {
	width: 100%;
	border-radius: 50%;
}

.modal-backdrop.show {
    display: none;
}

div.modal.comment {
	background: rgba(0, 0, 0, 0.3);
}

.profile.slider_area .single_slider {
    height: 500px;
}

.profile_avatar {
	text-align: right;
}

.profile_avatar img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 50px 20px 0 20px;
	border-radius: 50%;
}

.slider_area .single_slider .slider_info h3.student_name {
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.slider_area .single_slider .slider_info h4 {
	color: #dcdcdc;
	font-size: 18px;
	margin-bottom: 30px
}
.slider_area .single_slider .slider_info a {
	color: #cecece;
	font-size: 15px;
}

.student_menu span:first-child {
	padding-right: 20px;
	border-right: solid 1px #cecece;
}

.student_menu span:last-child {
	margin-left: 2px;
	padding-left: 20px;
}

.profile.popular_courses {
    padding-top: 100px;
}

@media (max-width: 767px) {
	.profile.slider_area .single_slider {
	    height: 400px;
	}

	.profile.popular_courses {
	    padding-top: 50px;
	}

	.profile_avatar {
		text-align: center;
	}

	.profile_avatar img {
		width: 150px;
		height: 150px;
		object-fit: cover;
	}

	.comment-form textarea.comment {
		min-height: 10px!important;
		padding-bottom: 18px;
		resize: none;
	}

	/* .comment_form .button {
		display: none;
	} */

	.button_inside {
		position: relative;
	}

	.button_inside button {
		position: absolute;
	    right: 1px;
	    top: 2px;
	    padding: 19px 10px;
	    border: 1px #ffffff00;
	    text-transform: capitalize;
	    font-size: 12px;
	}

	.button_inside .boxed-btn:hover {
	    background: #fff;
	    color: #04D2C8 !important;
	    border: 1px #ffffff00;
	}

	.button_inside .form-control {
		padding-right: 65px;
	}

	div.about_tutorials {
		display: none;
	}

	.our_team_member .single_about_info h3 {
	    font-size: 25px;
	    line-height: 32px;
	}
}

.afriansh.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1001;
	left: 0;
	top: 0;
	background-color: rgb(0,0,0);
	background-color: #2e004beb;
	overflow-x: hidden;
	transition: 0.5s;
}

.afriansh .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.afriansh.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}

.afriansh.overlay a:hover,
.afriansh.overlay a:focus {
	color: gray;
}

.afriansh.overlay .close-btn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.mobile_menu.profile i {
    color: #fff;
    font-size: 30px;
}

span.slicknav_btn.login {
    top: -26px;
    right: -10px;
}

@media (min-width: 768px) {
	span.slicknav_btn.login,
	span.slicknav_btn.profile {
	    right: -70px;
	}

	.courses_details_info .courses_sidebar .video_thumb img {
	    height: 100vw;
	    object-fit: cover;
	}
}

.slicknav_btn.login a.mobile_login {
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

.courses_details_info #accordion .card .card-header {
    padding: 14px 20px 16px 14px;
}

.courses_details_info #accordion .card .card-body {
    padding: 0 20px 40px 76px;
}

.popular_courses .single_courses .thumb img {
    height: 250px;
    object-fit: cover;
}

.single-post-area .navigation-area .nav-right .thumb img,
.single-post-area .navigation-area .nav-left .thumb img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.courses_details_info .courses_sidebar .video_thumb img {
    height: 445px;
    object-fit: cover;
}

@media (max-width: 768px) {
	.courses_details_info .courses_sidebar .video_thumb img {
	    height: 100vw;
	    object-fit: cover;
	}
}

.upper_margin {
	margin-top: 100px;
}

.our_team_member .single_about_info h3 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 400;
}

.our_team_member .single_about_info p {
    font-size: 17px;
    font-weight: 400;
    color: #727272;
    margin-top: 10px;
    margin-bottom: 42px;
}

.our_team_member .single_team .thumb img.teacher {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 500px) {
	.our_team_member .single_team .thumb img.teacher {
		height: 100vw;
	}
}

@media (min-width: 501px) and (max-width: 768px) {
	.our_team_member .single_team .thumb img.teacher {
		height: 50vw;
	}
}

.nav-treeview a.nav-link {
    margin-left: 20px;
}